.geo-admin-container {
  .page-title,
  .page-title-separator {
    margin-top: 10px;
  }

  .title-text {
    line-height: 34px;
  }

  .page-subtitle {
    margin-bottom: 24px;
  }
}

.geo-node-status {
  td {
    vertical-align: top;
  }

  .help-block {
    width: 135px;
    text-align: right;
  }

  .node-info {
    font-weight: $gl-font-weight-bold;
  }

  .event-timestamp {
    font-weight: normal;
    color: $theme-gray-800;
  }

  .sync-status {
    font-weight: normal;

    svg {
      vertical-align: middle;
    }

    .sync-status-icon svg,
    .sync-status-timestamp {
      fill: $theme-gray-700;
      color: $theme-gray-700;
    }

    &.sync-status-failure {
      .sync-status-icon svg,
      .sync-status-timestamp {
        fill: $red-700;
        color: $red-700;
      }
    }
  }
}

.advanced-geo-node-status-toggler {
  display: block;

  .show-advance-chevron {
    margin-top: 2px;
  }
}

.geo-node-healthy {
  color: $gl-success;
}

.geo-node-unhealthy {
  color: $gl-danger;
}

.geo-node-disabled {
  color: $gray-darkest;
}

.geo-node-unknown {
  color: $gray-darkest;
}

.well-list.geo-nodes {
  li {
    position: relative;

    &:hover {
      background: $white-light;
    }

    &.node-disabled,
    &.node-disabled:hover {
      background-color: $gray-lightest;
    }
  }
}

.advanced-geo-node-status-container {
  .btn-link {
    padding-left: 0;
    padding-right: 0;
    border-left: 0;
    border-right: 0;

    .fa {
      margin-left: 3px;
    }
  }
}

.node-info {
  color: $gl-text-color;
}

.geo-health {
  display: inline-block;
  margin-top: 5px;
  white-space: pre-wrap;
}

.geo-nodes {
  .health-message {
    padding: 1px 8px;
    background-color: $red-100;
    color: $red-500;
    border-radius: $border-radius-default;
    font-weight: 500;
  }
}

.geo-node-mismatch {
  color: $gl-danger;
}

.node-badge {
  color: $white-light;
  display: inline-block;
  margin-left: 5px;
  padding: 0 5px;
  border-radius: 3px;

  &.primary-node {
    background-color: $blue-300;
  }

  &.current-node {
    background-color: $green-400;
  }
}

.node-actions {
  margin-top: 10px;

  @media (min-width: $screen-md-min) {
    position: absolute;
    right: 15px;
    top: 0;
  }

  .btn:not(:first-of-type) {
    margin-left: 10px;
  }
}
